<div  class="d-flex flex-column">
  <div class="col-auto justify-content-center my-5">
    <p class="fs-2">Reporte Recaudos y Conteo</p>
  </div>

  <div class="col-auto">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" *ngFor="let station of data?.stations">
          {{station}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataColum of data?.totalStationsDate">
        <th scope="row">{{ dataColum.dateCreated | date}}</th>
        <td *ngFor="let values of dataColum.listValues">
          <span>{{values.totalAmount}} - {{values.total}}</span>
        </td>
      </tr>
      <tr>
        <th scope="row">{{ data?.totalStationsGeneral.title }}</th>
        <td *ngFor="let value of data?.totalStationsGeneral.valuesTotal">
          <span>{{value.totalAmountGeneral}} - {{value.totalGeneral}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex">
    <ng-container>
      <p class="fw-bold me-3">{{data?.totalGlobal.title}}</p>
      <span>{{data?.totalGlobal.amountGlobal}} - {{data?.totalGlobal.totalGlobal}}</span>
    </ng-container>
  </div>
</div>

