
<form [formGroup]="form" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="user" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="user" formControlName="username" placeholder="mari123">
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="pass" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
