<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="#">Flytech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/upload-collections" routerLinkActive="active">Cargar datos</a>
          <a class="nav-link" routerLink="/collection" routerLinkActive="active">Recaudos</a>
          <a class="nav-link" routerLink="/collection-report" routerLinkActive="active">Reporte Recaudo y Conteo</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
