
<div class="container">
  <div class="d-flex align-items-center justify-content-center vh-100">
<!--    <div>-->
<!--      <img src="./assets/user.png" alt="user">-->
<!--    </div>-->
    <div class="col-auto p-5 m-auto">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>

