<div class="d-flex">
  <div class="justify-content-center m-5">
    <p class="fs-2">Aqui puede realizar la carga de informacion a nuestra base de datos</p>

    <form [formGroup]="form" (ngSubmit)="uploadData()">
      <div class="mb-3">
        <div class="d-flex">
          <div class="col-6 m-3">
            <label for="date" class="form-label">Seleccione la fecha</label>
            <input type="date" class="form-control" id="date" formControlName="date">
          </div>
          <div class="col-6 m-3">
            <label for="date" class="form-label">Seleccione el tipo de datos a cargar</label>
            <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
              <option value="recaudo">Recaudo</option>
              <option value="conteo">Conteo</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary">Cargar datos</button>
      </div>
    </form>
  </div>
</div>

