<div  class="d-flex flex-column">
  <div class="col-auto justify-content-center mt-5 mb-3">
    <p class="fs-2">Datos cargados en nuestra base de datos</p>
  </div>

  <div class="col-auto">
    <form [formGroup]="formCollection" (ngSubmit)="getData()">
      <div class="d-flex flex-row">
        <div class="m-3">
          <label for="station" class="form-label">Estacion</label>
          <input type="text" class="form-control" id="station" formControlName="station" placeholder="ANDES">
        </div>
        <div class="m-3">
          <label for="sense" class="form-label">Sentido</label>
          <input type="text" class="form-control" id="sense" formControlName="sense" placeholder="BOG-CHI">
        </div>
        <div class="m-3">
          <label for="category" class="form-label">Categoria</label>
          <input type="text" class="form-control" id="category" formControlName="category" placeholder="V">
        </div>
        <div class="m-3 align-self-end">
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-auto table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Estacion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Sentido</th>
        <th scope="col">Hora</th>
        <th scope="col">Categoria</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valor tabulado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of collection">
        <th scope="row">{{data.station}}</th>
        <td>{{data.dateCreated | date}}</td>
        <td>{{data.sense}}</td>
        <td>{{data.hour}}</td>
        <td>{{data.category}}</td>
        <td>{{data.amount}}</td>
        <td>{{data.tabulatedValue}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

